.element__like-button_active {
    width: 20px;
    height: 18px;
    background-image: url("../../../../images/like-active.svg");
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none;
}
.elements__like-button_active:hover {
    opacity: .5;
}
