.header__exit {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  background-color: black;
  border: none;
  margin: 0 0 0 24px;
  padding: 0;
  align-self: flex-end;
  cursor: pointer;
}

@media screen and (max-width: 939px) {
  .header__exit {
      margin: 0 27px 0 12px;
  }
}

@media screen and (max-width: 768px) {
  .header__exit {
    font-size: 14px;
    line-height: 17px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 425px) {
  .header__exit {
    align-self: center;
    margin: 18px 0 0 0;
  }
}