.element__image {
    width: 100%;
    height: 282px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .element__image {
        height: 366px;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .element__image {
        height: 423px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .element__image {
        height: 507px;
    }
}

