.profile__header {
    display: flex;
    flex-direction: column;
    max-width: 430px;
}

@media screen and (max-width: 840px) {
    .profile__header {
        max-width: 370px;
    }
}

@media screen and (max-width: 425px) {
    .profile__header {
        max-width: 240px;
    }
}

@media screen and (max-width: 280px) {
    .profile__header {
        max-width: 150px;
    }
}
