.profile {
    max-width: 880px;
    margin: 40px auto 50px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 19px 0 19px;
}

@media screen and (max-width: 768px) {
    .profile {
        margin: 42px auto 36px auto;
        flex-direction: column;
    }
}