.profile__add-button {
    width: 150px;
    height: 50px;
    background: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #ffffff;
    right: 0;
    cursor: pointer;
    border-radius: 2px;
    padding: 0;
}
.profile__add-button:hover {
    opacity: .6;
}
@media screen and (max-width: 768px) {
    .profile__add-button {
        background-image: url(../../../images/add-button320.svg);
        width: 100%;
        margin-top: 30px;
        
    }
}