.header__user-content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 425px) {
  .header__user-content {
    display: none;
    width: 100%;
    margin: 0 auto 15px auto;
    flex-direction: column;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 40px;
  }
}
